body{
    text-align: center;
    font-family: Arial, sans-serif;
}

#to-do_ID{
    height: 25px;
    width: 150px;
    border-radius: 50px;
    border: 1px solid black;
    text-align: center;
}

.btn-add{
    width: 120px;
    border-radius: 100px;
    border: 2px solid lightcoral;
    background-color: rgb(241, 214, 214);
    color: lightcoral;
    font-size: 15px;
    font-weight: bold;

}

.container-lista{
    margin: 50px 0;
}
